// import dark theme
@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;

:root {
  --km-narbar-height: 50px;
}

html,
body,
#app {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

div,
ul,
li {
  padding: 0;
  margin: 0;
}

img {
  border: 0;
}

a {
  color: var(--ep-text-color-primary);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: var(--ep-color-warning);
}

a:active {
  color: var(--ep-color-warning);
}

code {
  border-radius: 2px;
  padding: 2px 4px;
  background-color: var(--ep-color-primary-light-9);
  color: var(--ep-color-primary);
}

#nprogress {
  .bar {
    background: var(--ep-color-warning) !important;
  }
}

.common-container {
  position: relative;
  text-align: left;
  margin: 0 auto;
  transition: width 0.5s;
  box-sizing: border-box;
  min-height: 220px;
}

.media-container {
  padding: 12px 5px;

  .movie-bottom {
    margin-top: 80px;
    border-top: 1px solid var(--ep-border-color);
    text-align: center;
    height: 150px;
    line-height: 150px;
    color: var(--ep-text-color-secondary);
    font-size: 12px;
  }
}

.g-col {
  width: 192px;
  padding: 0 6px;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
}

.navbar .navbar-wrapper .ep-menu--horizontal,
.base-body .km-breadcrumb {
  width: 100%;
}

/* 渐变设置 */
.fade-enter-from,
.fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}
.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}
.fade-enter-active {
  transition: all 0.2s ease;
}
.fade-leave-active {
  transition: all 0.2s cubic-bezier(1, 0.6, 0.6, 1);
}

.ep-scrollbar {
  .ep-scrollbar__bar {
    z-index: 10;
  }
}

.dplayer.dplayer-fulled {
  z-index: 10000 !important;
}

@media (max-width: 383px) {
  .media-container {
    max-width: 100%;
    .g-col {
      width: 100%;
    }
  }

  .tang-container {
    .tang-item {
      width: calc(100% - 10px);

      .tang-title {
        width: calc(100% - 82px);
      }
    }
  }
}

@media (min-width: 384px) and (max-width: 559px) {
  .media-container {
    max-width: 100%;
    .g-col {
      width: 50%;
    }
  }

  .tang-container {
    .tang-item {
      width: calc(50% - 10px);

      .tang-title {
        width: calc(100% - 82px);
      }
    }
  }
}

@media (min-width: 560px) and (max-width: 666px) {
  .media-container {
    max-width: 100%;
    .g-col {
      width: 33.33%;
    }
  }

  .tang-container {
    .tang-item {
      width: calc(33.3% - 10px);

      .tang-title {
        width: calc(100% - 82px);
      }
    }
  }
}

@media (min-width: 667px) and (max-width: 819px) {
  .media-container {
    max-width: 100%;
    .g-col {
      width: 25%;
    }
  }

  .tang-container {
    .tang-item {
      width: calc(33.3% - 10px);

      .tang-title {
        width: calc(100% - 82px);
      }
    }
  }
}

@media (min-width: 820px) and (max-width: 959px) {
  .media-container {
    max-width: 100%;
    .g-col {
      width: 25%;
    }
  }

  .tang-container {
    .tang-item {
      width: calc(25% - 10px);

      .tang-title {
        width: calc(100% - 82px);
      }
    }
  }
}

@media (max-width: 960px) {

  .navbar {
    // border-bottom: var(--ep-border);
    box-shadow: var(--ep-box-shadow-light);
  }

  .tang-container {
    .ep-card {
      border-color: transparent;
    }
  }
}

@media (min-width: 960px) and (max-width: 1079px) {
  .navbar,
  .tang-container,
  .media-container {
    max-width: 960px; 
  }

  .media-container {
    max-width: 960px;
    .g-col {
      width: 20%;
    }
  }

  .tang-container {
    .tang-item {
      width: calc(25% - 10px);

      .tang-title {
        width: calc(100% - 82px);
      }
    }
  }
}

@media (min-width: 1080px) and (max-width: 1239px) {
  .navbar,
  .tang-container,
  .media-container {
    max-width: 1080px; 
  }

  .media-container {
    max-width: 1080px;
    .g-col {
      width: 16.66%;
    }
  }

  .tang-container {
    .tang-item {
      width: calc(25% - 10px);

      .tang-title {
        width: calc(100% - 82px);
      }
    }
  }
}

@media (min-width: 1240px) and (max-width: 1329px) {
  .navbar,
  .tang-container,
  .media-container {
    max-width: 1190px; 
  }

  .media-container {
    max-width: 1190px;
    .g-col {
      width: 16.66%;
    }
  }

  .tang-container {
    .tang-item {
      width: calc(20% - 10px);

      .tang-title {
        width: calc(100% - 82px);
      }
    }
  }
}

@media (min-width: 1330px) and (max-width: 1591px) {
  .navbar,
  .tang-container,
  .media-container {
    max-width: 1280px; 
  }

  .media-container {
    max-width: 1280px;
    .g-col {
      width: 16.66%;
    }
  }

  .tang-container {
    .tang-item {
      width: calc(20% - 10px);

      .tang-title {
        width: calc(100% - 82px);
      }
    }
  }
}

@media screen and (min-width: 1592px) and (max-width: 1789px) {
  .navbar,
  .tang-container,
  .media-container {
    max-width: 1542px; 
  }

  .media-container {
    max-width: 1542px;
    .g-col {
      width: 14.28%;
    }
  }

  .tang-container {
    .tang-item {
      width: calc(16.66% - 10px);

      .tang-title {
        width: calc(100% - 82px);
      }
    }
  }
}

@media screen and (min-width: 1800px) {
  .navbar,
  .tang-container,
  .media-container {
    max-width: 1800px; 
  }

  .media-container {
    max-width: 1800px;
    .g-col {
      width: 12.5%;
    }
  }

  .tang-container {
    .tang-item {
      width: calc(16.66% - 10px);

      .tang-title {
        width: calc(100% - 82px);
      }
    }
  }
}
