.media-player {
  height: 100%;

  .player-box {
    box-sizing: border-box;
    height: calc(100vh - 50px);
    width: calc(100% - 336px);

    .svg-center {
      display: none;
    }
  }

  .player-side {
    height: calc(100vh - 50px);
    width: 336px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--ep-bg-color-overlay);

    .video-title {
      padding: 10px;
      height: 22px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-weight: 700;
      line-height: 22px;
      font-size: 16px;
      color: var(--ep-color-warning);
      text-align: center;
    }

    .video-sub {
      padding: 0 15px 5px 15px;
      height: 20px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      line-height: 22px;
      font-size: 14px;
      color: #999;
    }

    .video-ep {
      padding: 10px;
      height: calc(100% - 88px);

      .video-ep-item {
        display: inline-block;
        width: calc(20% - 10px);
        height: 32px;
        text-align: center;
        line-height: 32px;
        font-size: 13px;
        cursor: pointer;
        border-radius: 3px;
        box-sizing: border-box;
        border: 1px solid var(--ep-border-color);
        background-color: var(--ep-color-primary-light-9);
        color: var(--ep-text-color-secondary);
        margin: 5px;
      }

      .video-ep-item:hover {
        border: 1px solid var(--ep-color-warning-dark-2);
        background-color: var(--ep-color-primary-light-7);
        color: var(--ep-color-warning);
      }

      .video-ep-active {
        border: 1px solid var(--ep-color-warning-dark-2);
        background-color: var(--ep-color-primary-light-8);
        color: var(--ep-color-warning);
      }
    }
  }
}

// @media screen and (max-width:559px) {
// 	.navbar .navbar-wrapper .ep-menu--horizontal,
//   .base-body .km-breadcrumb {
// 	  width: 100%;
//   }

//   .media-container {
//     .player-box {
//       width: 100% !important;
//       height: calc(var(--km-client-width) * 0.56) !important;
//     }

//     .player-side {
//       width: 100% !important;
//       min-height: 336px;
//       height: calc(var(--km-client-height) - var(--km-client-width) * 0.5625 - 50px) !important;
//       position: relative !important;
//       .video-ep {
//         .video-ep-item {
//           width: calc(20% - 10px) !important;
//         }
//       }
//     }
//   }

//   .movie-container {
//     .video-playbox {
//       height: 320px !important;
//       .v3d-player {
//         width: 100% !important;
//       }
//       .video-playing {
//         top: 320px !important;
//       }
//     }
//   }

//   .tang-container {
//     .tang-item {
//       width: calc(100% - 10px);
//     }
//   }
// }

// @media screen and (max-width:820px) and (min-width:560px) {
//   .media-container {
//     .player-box {
//       width: 100% !important;
//       height: calc(var(--km-client-width) * 0.5625) !important;
//     }

//     .player-side {
//       width: 100% !important;
//       min-height: 336px;
//       height: calc(var(--km-client-height) - var(--km-client-width) * 0.5625 - 60px) !important;
//       position: relative !important;
//       .video-ep {
//         .video-ep-item {
//           width: calc(12.5% - 10px) !important;
//         }
//       }
//     }
//   }

//   .movie-container {
//     .video-playbox {
//       height: 320px !important;
//       .v3d-player {
//         width: 100% !important;
//       }
//       .video-playing {
//         top: 320px !important;
//       }
//     }
//   }

//   .tang-container {
//     .tang-item {
//       width: calc(50% - 10px);
//     }
//   }
// }

// @media screen and (max-width:1079px) and (min-width:821px) {
//   .media-wrapper {
//     > .ep-scrollbar__bar {
//       display: none !important;
//     }
//   }


//   .tang-container {
//     .tang-item {
//       width: calc(33.33% - 10px);
//     }
//   }
// }

// @media screen and (max-width:1339px) and (min-width:1080px) {
//   .tang-container {
//     .tang-item {
//       width: calc(25% - 10px);
//     }
//   }
//   .media-wrapper {
//     > .ep-scrollbar__bar {
//       display: none !important;
//     }
//   }
// }

// @media screen and (max-width:1599px) and (min-width:1340px) {
//   .tang-container {
//     .tang-item {
//       width: calc(20% - 10px);
//     }
//   }
//   .media-wrapper {
//     > .ep-scrollbar__bar {
//       display: none !important;
//     }
//   }
// }

// @media screen and (min-width:1600px) {
//   .tang-container {
//     .tang-item {
//       width: calc(16.66% - 10px);
//     }
//   }
//   .media-wrapper {
//     > .ep-scrollbar__bar {
//       display: none !important;
//     }
//   }
// }

// @media screen and (min-width: 800px) and (max-width: 1593) {
//   .media-container {
//     max-width: 1542px;
//   }
// }

// @media screen and (min-width: 1592px) and (max-width: 1789px) {
//   .media-container {
//     max-width: 1542px;
//   }
// }

// @media screen and (min-width: 1800px) {
//   .media-container {
//     max-width: 1542px;
//   }
// }
