.media-container {
  height: 100%;

  .player-box {
    box-sizing: border-box;
    height: calc(100vh - 50px);
    width: calc(100% - 336px);

    .svg-center {
      display: none;
    }
  }

  .player-side {
    height: calc(100vh - 50px);
    width: 336px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--ep-bg-color-overlay);

    .video-title {
      padding: 10px;
      height: 22px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-weight: 700;
      line-height: 22px;
      font-size: 16px;
      color: var(--ep-color-warning);
      text-align: center;
    }

    .video-sub {
      padding: 0 15px 5px 15px;
      height: 20px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      line-height: 22px;
      font-size: 14px;
      color: #999;
    }

    .video-ep {
      padding: 10px;
      height: calc(100% - 88px);

      .video-ep-item {
        display: inline-block;
        width: calc(20% - 10px);
        height: 32px;
        text-align: center;
        line-height: 32px;
        font-size: 13px;
        cursor: pointer;
        border-radius: 3px;
        box-sizing: border-box;
        border: 1px solid var(--ep-border-color);
        background-color: var(--ep-color-primary-light-9);
        color: var(--ep-text-color-secondary);
        margin: 5px;
      }

      .video-ep-item:hover {
        border: 1px solid var(--ep-color-warning-dark-2);
        background-color: var(--ep-color-primary-light-7);
        color: var(--ep-color-warning);
      }

      .video-ep-active {
        border: 1px solid var(--ep-color-warning-dark-2);
        background-color: var(--ep-color-primary-light-8);
        color: var(--ep-color-warning);
      }
    }
  }
}